/* Base Styles */

/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
}

nav {
  display: flex;
}

nav span {
  display: inline-block;
}

.logo {
  color: MediumAquamarine;
}
